
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
  }
  
  .tudo {
    max-width: 400px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .profile {
    margin-bottom: 30px;
  }
  
  .macs {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .profile h1 {
    color: #4a4eff;
    margin: 0;
    font-size: 28px;
  }
  
  .links a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    padding: 15px 0;
    border-radius: 12px;
  
  }
  
  
  .whatsapp {
    background-color: #075e54;
  }
  
  .whatsapp:hover {
    background-color: #064d44;
  }
  
  .youtube {
    background-color: #ff0000;
  }
  
  .telegram {
    background-color: #0088cc;
  }
  
  .telegram:hover {
    background-color: #006699;
  }
  
  .instagram {
    background: orange;
  }
  
  .twitter {
    background-color: #1da1f2;
  }
  
  .twitter:hover {
    background-color: #0d95e8;
  }
  
  .linkedin {
    background-color: #005786;
  }
  
  .links a i {
    margin-right: 12px;
    font-size: 22px;
    vertical-align: middle;
  }
  
  .fa-brands-fa-whatsapp{
    transform: translateX(-100px);
  }
  .fa-brands-fa-telegram{
  
  }
  .fa-brands-fa-twitter{
  
  }
  .fa-brands-fa-instagram{
  
  }
  .fa-brands-fa-youtube{
  
  }
  .fa-brands-fa-linkedin{
  
  }